# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
env/
venv/

# Environment files
.env

# IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/


# SQLite database files
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal
simple_chatbot.sqlite*

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
